header {
background-color: darkslateblue;
color: azure;
height: auto;
padding: 10px 10px 10px 10px;
margin-bottom: 0px;
}

nav {
text-align: left;
margin-top: 0px;
}

nav ul {
background-color: darkslateblue;
margin-top: 0px;
}

nav li {
display: inline-block;
margin: 0px -12px 0px -12px;
padding: 10px;
}



nav a {
text-decoration: none;
color: azure;
width: 100%;
height: 100%;
padding: 10px;
margin: 0px;
}

nav a:focus{
outline: none;
}

nav a:hover{
background-color: midnightblue;
border-radius: 10px;
}


#login_form {

width: 300px;
height: 130px;

position: absolute;
top: 50%;
left: 50%;
margin-left: -150px;
margin-top: -75px;
text-align: center;

background-color: darkslateblue;
color: aliceblue;

border-radius: 10px;
padding: 20px;
}

#login_form input {
margin: 5px;
width: 80%;
}

#login_form input[type=submit] {
margin: 5px;
width: auto;
}

.currentPage{
    background-color: midnightblue;
    border-radius: 10px;

}

.mainSection {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}
